html {
    background-image: url("ressources/htmlbackground2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#home {
    width: 150px;
    height: 50px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    outline: 1px;
    outline-color: black;
    outline-style: ridge;
    outline-offset: -3px;
}

#home:hover {
    width: 150px;
    height: 150px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    outline: 0px;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover :not(p) :not(div) :not(img) :not(a) {
    transform: scale(1, 10);
    transform-origin: top center;
    transition-duration: 0.7s;
}

#app1 {
    width: 300px;
    height: 50px;
    background: linear-gradient(#5f5f5f, #a5a5a5);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    overflow: hidden;
    outline: 1px;
    outline-color: black;
    outline-style: ridge;
    outline-offset: -3px;
}

#app1:hover {
    width: 1300px;
    height: 900px;
    background: linear-gradient(#FB000F, #FB000F);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    overflow: hidden;
    border-radius: 0px;
    outline: 0px;
}

#app2 {
    width: 300px;
    height: 50px;
    background: linear-gradient(#5f5f5f, #a5a5a5);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    overflow: hidden;
    outline: 1px;
    outline-color: black;
    outline-style: ridge;
    outline-offset: -3px;
}

#app2:hover {
    width: 1300px;
    height: 900px;
    background: linear-gradient(#171A21, #171A21);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    overflow: hidden;
    outline: 0px;
}

#app3 {
    width: 300px;
    height: 50px;
    background: linear-gradient(#5f5f5f, #a5a5a5);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    overflow: hidden;
    outline: 1px;
    outline-color: black;
    outline-style: ridge;
    outline-offset: -3px;
}

#app3:hover {
    width: 1300px;
    height: 900px;
    background: linear-gradient(#61369F, #61369F);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    overflow: hidden;
    outline: 0px;
}

.flexrow {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.dropdowncontent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.dropdowncontent:hover {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    animation-play-state: running;
    z-index: 1;
}

.title {
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    font-family: 'Indie Flower', cursive;
    font-size: 13pt;
}

#youtube {
    background-image: url("ressources/youtube.png");
    background-repeat: no-repeat;
    background-position: center;
    animation-name: dimy;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
}

.paddingapp {
    justify-content: auto;
}

@keyframes dimy {
    0% {
        background-image: url("ressources/youtube100.png");
    }
    100% {
        background-image: url("ressources/youtube75.png");
    }
}

#steam {
    background-image: url("ressources/youtube.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
    animation-name: dims;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
}

@keyframes dims {
    0% {
        background-image: url("ressources/steam100.png");
    }
    100% {
        background-image: url("ressources/steam75.png");
    }
}

#twitch {
    background-image: url("ressources/youtube.png");
    background-repeat: no-repeat;
    background-position: center;
    animation-name: dimt;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
}

.picsmain {
    height: inherit;
}

@keyframes dimt {
    0% {
        background-image: url("ressources/twitch100.png");
    }
    100% {
        background-image: url("ressources/twitch75.png");
    }
}

.txtyoutube {
    color: white;
    animation: none;
    filter: brightness(1);
    height: 720px;
    padding-left: 10rem;
    padding-right: 10rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
}

.txtyoutube>a {
    color: white;
    font-weight: bold;
}

.txtsteam {
    color: white;
    animation: none;
    filter: brightness(1);
    height: 720px;
    padding-left: 10rem;
    padding-right: 10rem;
    font-family: 'Oxygen', sans-serif;
    font-size: 15pt;
}

.txtsteam>a {
    color: white;
    font-weight: bold;
}

.txttwitch {
    color: white;
    animation: none;
    filter: brightness(1);
    height: 720px;
    padding-left: 10rem;
    padding-right: 10rem;
    font-family: 'Oxygen', sans-serif;
    font-size: 15pt;
}

.txttwitch>a {
    color: white;
    font-weight: bold;
}

.contenttop {
    float: left;
    width: 100%;
    height: 300px;
    margin-top: 10%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}

.contentbot {
    float: left;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 1rem;
    color: white;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

.contentbot>a {
    color: white;
    font-weight: bold;
}

.contentbot>a:hover {
    color: rgb(250, 232, 74);
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
}

#presentation {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 14%;
    color: grey;
    font-family: 'Indie Flower', cursive;
    font-size: 30pt;
    z-index: -2;
    text-align: center;
}